
.bgLogo {
  position: absolute;
  transform: translate(-25%, 0);
  width: 1400px;
  opacity: .4;   
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.background > .ant-card {
  position: relative;
  z-index: 1;
}